// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: $theme-primary;
  &.active,
  &:active,
  &:focus,
  &:hover {
    color: darken($theme-primary, 10%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    @include serif-font;
  }
}
@media(min-width:768px) {
  section {
    padding: 150px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $theme-primary;
  text-shadow: none;
}

::selection {
  background: $theme-primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $theme-primary;
}
label{
  font-family: roboto;
  text-align: left;
  color: #666;
  font-size: 18px;
  padding: 10px 0;
}
.monto-inscripcion{
  text-align: left!important;
  padding: 50px 30px 10px 30px;
  margin: 120px 0;
  background-color: #fff;
  border-radius: 10px;
  color: #666;
}
@media(max-width:425px) {
  .monto-inscripcion {
    margin-top: 0px;
  }
}

button{
  width: 100%;
  background-color: rgb(251, 255, 41);
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: none;
  margin: 20px auto;
  color: #999;
  font-size: 20px;

}

.background1{
  background-color: rgb(251, 255, 41);
  border-radius: 100%;
  width: 100%;
}
